* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
   background-image: url(./img/back2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}


#top, #bottom {
  word-wrap: break-word;
  background-color: whitesmoke; 
  height: 60px; 
  margin-top: -23px;
  text-align: end;
  font-size: 35px;
}

.container {
  width: 500px;
  border-radius: 15px;
  width: 20rem;
  height: 540px;
  padding: 30px;
  border-radius: 15px;
  border: 5px solid wheat;
  background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

button {
   transform: translateY(95%); 
}

.btn {
  font-size: 1.5rem;
  width: 50px;
  background: wheat;
  border-radius: 5px;
  box-shadow: 0px 4px 30px;
  border: 1px solid black;
}

.btn:hover {
  background-color: gray;
  
}

.btn-cal {
  width: 140px;
  font-size: 1.5rem;
  height: 62px;
  background: whitesmoke;
  border-radius: 5px;
  margin-right: 11px;
  border: 1px solid black;
}

#times{
  margin-left: 13px;
}
#div{
  margin-left: 5px;
}

#del{
  font-size: 18px;
  height: 62px;
}

.clear,
.clear:hover {
  background-color: gray;
  font-size: 1.5rem;
  width: 140px;
  border-radius: 5px;
  height: 62px;
  box-shadow: 0px 4px 30px;
  border: 1px solid black;
}

@media (width <= 400px) {
  .container {
    width: 300px;
    height: 575px;
}
#top, #bottom{
  height: 70px;
}
div .col {
  padding-left: 0;
}
  .btn {
  font-size: 20px;
  margin-top: 25px;
  padding: -10%;
  height: 55px;
  --bs-btn-padding-x: 0rem;
  --bs-btn-padding-y: 0rem;
}
.clear,
.clear:hover {
  font-size: 1rem;
  width: 105px;
  margin-top: 25px;
  height: 55px;
}
.btn-cal{
  font-size: 1rem;
  width: 100px;
  margin-top: 25px;
  height: 55px;
}
#del {
  margin-top: 25px;
  font-size: 14px;
  height: 55px;
}
}