* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

            /* DISPLAYS  */
#top,
#bottom {
  word-wrap: break-word;
  background-color: whitesmoke;
  height: 3rem;
  border-bottom: 1px solid gray;
  text-align: end;
  font-size: 35px;
}

#top{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#bottom {
  margin-bottom: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

              /* FRAME */
.container {
  width: 20rem;
  border-radius: 20px;
  padding: 30px;
  border: 5px solid wheat;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 aqua;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid aqua;
}

              /* BUTTONS */
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
 
}
#clr {
  grid-column: 1/3;
  width: 100%;
  padding: 0;
}
#del {
  grid-column: 3 / -1;
  width: 90%;
  margin: 5px;
  margin-left: 15px;
}
.lerato {
  width: 100% !important;
}

 .left{
  margin-left: -2px !important;
}

.right{
  margin-left: .2rem !important;

}

#plus,
#times,
#div {
  width: 80%;
  margin-left: 20px !important;
  padding: 5px;
}
#minus {
  width: 80%;
  padding: 5px;
}
#equal {
  width: 100%;
  padding: 3px;
  margin-left: 6px !important;
}
#comma {
  padding: 5px;
  width: 80% !important;
}
.btn {
  font-size: 1.3rem;
  width: 30px;
  margin: 9px;
  background: whitesmoke;
  border-radius: 15px;
  box-shadow: 0px 4px 30px;
  border: 1px solid black;
}

.btn:hover {
  background-color: aqua;
}

.btn-cal {
  width: 120px;
  font-size: 1.3rem;
  background: whitesmoke;
  border-radius: 15px;
  margin-right: 11px;
  border: 1px solid black;
}
.btn-cal:hover {
  background-color: aqua;
}

.clear,
.clear:hover {
  background-color: aqua;
  font-size: 1.5rem;
  width: 140px;
  height: 3rem;
  margin-top: 5px;
  border-radius: 15px;
  box-shadow: 0px 4px 30px;
  border: 1px solid black;
}

@media (width <= 400px) {
  .wrapper {
    padding: 0;
  }
  #top,
  #bottom {
    height: 70px;
  }
  div .col {
    padding-left: 0;
  }
  #equal {
    width: 95%;
  }
  .clear,
  .clear:hover {
    font-size: 1rem;
    width: 105px;
    height: 55px;
  }
  .btn-cal {
    font-size: 1rem;
    width: 100px;
  }
  .lerato {
    width: 90% !important;
  }
  #del {
    font-size: 14px;
    height: 55px;
    width: 90%;
  }
  #plus,
  #times,
  #div {
    width: 90%;
  }
  #minus {
    width: 90%;
  }
 
}
